<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Colegiada - Cadastro de Cursos</title>

</head>
<body>
	<div th:insert="header"></div>
	<div class="container">
		<h2>Cursos</h2>
		<h5>Adicionar/Editar um curso:</h5>
		<form class="form-narrow form-horizontal" method="post"
			th:action="@{/cursos/salvar}" th:object="${curso}">
			<input type="hidden" id="id" th:field="*{id}" />
			<table class="table table-striped">
				<tr>
					<td><input type="text" id="nome" placeholder="Nome do Curso"
						th:field="*{nome}" size="50" /></td>
					<td><input type="text" id="cargaHoraria"
						placeholder="Carga Horária" th:field="*{cargaHoraria}" /></td>

					<td>Modalidade</td>
					<td><select class="form-control" id="modalidade"
						th:field="*{modalidade}">
							<option style="text-transform: capitalize"
								th:each="item : ${modalidades}" th:value="${item}"
								th:text="${item.text}" selected="selected"></option>
					</select></td>
					<td><select class="form-control" id="professorCoordenador"
						th:field="*{professorCoordenador}">
							<option style="text-transform: capitalize"
								th:each="item : ${listaProfessor}" th:value="${item.id}"
								th:text="${item.nome}" selected="selected"></option>
					</select></td>


					<td><button type="submit" class="btn btn-primary">Salvar</button>&nbsp;&nbsp;
						<a th:href="@{/cursos/list}" class="btn btn-info">Novo curso</a></td>
				</tr>

			</table>
			<div class="alert alert-success" th:if="${mensagemSucesso}"
				th:text="${mensagemSucesso}"></div>
			<div class="alert alert-danger" th:if="${mensagemErro}"
				th:text="${mensagemErro}"></div>
		</form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Carga horária</th>
					<th>Modalidade</th>
					<th>Professor</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="curso : ${lista}">
					<td th:text="${curso.nome}"></td>
					<td th:text="${curso.cargaHoraria}"></td>
					<td th:text="${curso.modalidade.text}"></td>
					<td th:text="${curso.professorCoordenador.nome}"></td>
					<td><a class="btn btn-warning"
						th:href="@{/cursos/edit/{id}(id=${curso.id})}">Edit</a></td>
					<td><a class="btn btn-warning"
						th:href="@{/cursos/remover/{id}(id=${curso.id})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<hr></hr>
		<h6>
			<a th:href="@{/}">Home</a>
		</h6>
	</div>
</body>
</html>